.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title h1 {
    font-family: 'Rampart One';
    color: var(--primary);
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 900;
}

.title p {
    font-size: 30px;
    font-weight: 500;
}