@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
:root {
  --primary: #13887e;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body {
  font-family: "Cedarville Cursive";
  color: var(--secondary);
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

/* upload form styles */


/* progress bar styles */
.progress-bar {
  height: 20px;
  background: var(--primary);
  border-radius: 20px;
  margin-top: 20px;
}

/* image grid styles */


/* modal styles */